/* landing Page Styles */

.content-wrapper {
  min-height: 100%;
  margin-top: 100px;
}

#header {
  background: #19778e;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* Sign up & Login Styles */

.lockStyle {
  display: block;
  margin: auto;
}

/* Form style for Journal entry fields*/

.titlePadding {
  padding-left: 0.5em;
}
